<section class="container" id="about-us">
  <div class="section-about-us">
    <div class="text-cont-all">
      <div class="text-container">
        <h2 class="title-about-us">About Us</h2>
        <ul class="list-about-us">
          <li class="list-about-us-item">
            <p class="text-about-us">
              Welcome to our premium watch collection, where luxury and style
              meet functionality and precision. Our selection of timepieces
              embodies the very best in Swiss craftsmanship and engineering,
              ensuring that you'll always have a reliable and stylish accessory
              on your wrist.
            </p>
          </li>
          <li class="list-about-us-item">
            <p class="text-about-us">
              At our premium watch collection, we believe that a watch is more
              than just a timekeeping device – it's a statement piece that
              reflects your personality and style. So why settle for anything
              less than the best?
            </p>
          </li>
        </ul>
      </div>
      <button href="catalog.html" class="about-us-btn" type="button">
        View catalog
      </button>
    </div>
    <div class="img-div">
      <picture>
        <source
          srcset="
            ./img/about-us/about-us.jpg    1x,
            ./img/about-us/about-us-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/about-us/about-us-tablet.jpg    1x,
            ./img/about-us/about-us-tablet-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about-us/about-us-mob.jpg    1x,
            ./img/about-us/about-us-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="img-about-us"
          src="./img/about-us/about-us.jpg"
          alt="clock"
          max-width="704"
        />
      </picture>
    </div>
  </div>
</section>
