<!-- #region catalog -->
<section class="container section-catalog">
  <h2 class="section-catalog-title">Catalog</h2>
  <ul class="catalog-list">
    <li class="catalog-item">
      <div class="catalog-item-container">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                ../img/catalog/sapphire-solar.png    1x,
                ../img/catalog/sapphire-solar-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/sapphire-solar-tablet.png    1x,
                ../img/catalog/sapphire-solar-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog/sapphire-solar-mob.png    1x,
                ../img/catalog/sapphire-solar-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-img"
              src="../img/catalog/sapphire-solar.png"
              alt="sapphire-solar"
              width="292"
              height="292"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title">
            Garmin Fenix 7X Pro<span class="catalog-title-solar"
              >Sapphire Solar</span
            >
            <span class="catalog-title-desktop">Sapphire Sol...</span>
            <span class="catalog-title-laptop">Sapphire...</span>
          </h3>
          <p class="catalog-text">€500</p>
        </div>
      </div>
    </li>
    <li class="catalog-item">
      <div class="catalog-item-container">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                ../img/catalog/marq-athlete.png    1x,
                ../img/catalog/marq-athlete-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/marq-athlete-tablet.png    1x,
                ../img/catalog/marq-athlete-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog/marq-athlete-mob.png    1x,
                ../img/catalog/marq-athlete-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-img"
              src="../img/catalog/marq-athlete.png"
              alt="marq-athlete"
              width="292"
              height="292"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </div>
    </li>
    <li class="catalog-item">
      <div class="catalog-item-container">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                ../img/catalog/descent-mk1.png    1x,
                ../img/catalog/descent-mk1-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/descent-mk1-tablet.png    1x,
                ../img/catalog/descent-mk1-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog/descent-mk1-mob.png    1x,
                ../img/catalog/descent-mk1-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-img"
              src="../img/catalog/descent-mk1.png"
              alt="descent-mk1"
              width="292"
              height="292"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </div>
    </li>
    <li class="catalog-item">
      <div class="catalog-item-container">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                ../img/catalog/delta-px.png    1x,
                ../img/catalog/delta-px-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/delta-px-tablet.png    1x,
                ../img/catalog/delta-px-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog/delta-px-mob.png    1x,
                ../img/catalog/delta-px-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-img"
              src="../img/catalog/delta-px.png"
              alt="delta-px"
              width="292"
              height="292"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </div>
    </li>
    <li class="catalog-item catalog-mob">
      <div class="catalog-item-container">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                ../img/catalog/pro-solar.png    1x,
                ../img/catalog/pro-solar-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/pro-solar-tablet.png    1x,
                ../img/catalog/pro-solar-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="catalog-img"
              src="../img/catalog/pro-solar.png"
              alt="pro-solar"
              width="292"
              height="292"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </div>
    </li>
    <li class="catalog-item catalog-mob">
      <div class="catalog-item-container">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                ../img/catalog/tube-watch.png    1x,
                ../img/catalog/tube-watch-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/tube-watch-tablet.png    1x,
                ../img/catalog/tube-watch-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="catalog-img"
              src="../img/catalog/tube-watch.png"
              alt="tube-watch"
              width="292"
              height="292"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title">
            Tube Watch S42 Date Steel<span class="catalog-title-laptop"
              >W...</span
            ><span class="catalog-title-desktop">With...</span>
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </div>
    </li>
  </ul>
  <button class="catalog-btn" type="button">Show more</button>
</section>
<!-- #endregion catalog -->
