<!-- #region contact-us-->
<section class="section">
    <div class="">
        <h2 class="title-contact-us">Contact Us</h2>
        <div class="contact-us-box">
            <p class="text">
                Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.
            </p>
            <form class="input-box">
                <ul>
                    <li>
                        <input class="input-name" type="text" id="user-name"
                        name="user-name" placeholder="Name" required>
                    </li>
                    <li>
                        <input class="input-email" type="email" id="user-email"
                        name="user-email" placeholder="Email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required>
                    </li>
                    <li>
                        <input class="input-phone" type="tel" id="user-phone"
                        name="user-phone" placeholder="+380" pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$ (+380-XX-XXX-XX-XX)"  required>
                    </li>
                    <li>
                        <textarea class="input-textarea" id="user-comment"
                        name="user-comment" placeholder="Comment">
                        </textarea>
                    </li>
                </ul>
            </form>
            <button class="contact-us-btn" type="submit">Send</button>
        </div>
        <div class="contact-us-photo">
            <picture>
                <source
                srcset=""
                media="(max-width:)"
                />
                <source
                srcset=""
                media=""
                />
                <source
                srcset=""
                media=""
                />
                <img class="contact-us-photo"
                src=""
                alt=""
                />
            </picture>
        </div>
    </div>

</section>
<!-- #endregion contact-us -->