<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header and menu</title>
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/container.css" />
    <link rel="stylesheet" href="./css/reset.css" />
  </head>
  <body>
    <header class="header">
      <div class="container header-container">
        <nav class="header-navigation">
          <a class="header-logo" href="./index.html"> watchcharm </a>
          <ul class="header-menu-list">
            <li class="header-menu-item">
              <a class="header-menu-link current-one" href="./index.html"
                >Home</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link current-two" href="./about-us.html"
                >About Us</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link current-three" href="./catalog.html"
                >Catalog</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link current-four" href="./sale.html"
                >Sale</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link current-five" href="./reviews.html"
                >Reviews</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link current-six" href="./contact-us.html"
                >Contact Us</a
              >
            </li>
          </ul>
        </nav>

        <div class="header-container-social-media">
          <ul class="icon-list">
            <li class="icon-item">
              <a href="https://www.facebook.com/goITclub/" class="icon-link">
                <svg class="icon-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="https://www.instagram.com/goitclub/" class="icon-link">
                <svg class="icon-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="https://www.youtube.com/c/GoIT" class="icon-link">
                <svg class="icon-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <button class="burger-btn" type="button">
          <svg class="burger-icon" width="34" height="34">
            <use href="./img/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </header>
  </body>
</html>
