<section class="hero">
    <div class="container-hero">
        <h1>Welcome to our<br> <span class="highlight">collection</span> of<br>premium watches</h1>
        <div class="text-and-button">
    <p>Our watches are not just timepieces, but also an expression of your<br class="desktop">personality and lifestyle. From classic designs to modern ones, we<br class="desktop"> have a watch to suit every taste and occasion.
    </p>
    <a href="#footer" class="scroll-button">Scroll down</a>
</div>
        <div class="circles">
            <div class="circle">
                <img srcset="/img/victoria-romashenko.png 1x, ./img/victoria-romashenko-2x.png 2x" 
                     src=".img/victoria-romashenko.png" 
                     alt="Victoria Romashenko">
            </div>
            <div class="circle">
                <img srcset="./img/john-wax.png 1x, ./img/john-wax-2x.png 2x" 
                     src="./img/john-wax.png" 
                     alt="John Wax">
            </div>
            <div class="circle">
                <img srcset="./img/anastasia-trachuk.png 1x, ./img/anastasia-trachuk-2x.png 2x" 
                     src="./img/anastasia-trachuk.png"
                     alt="Anastasia Trachuk">
            </div>
        </div>
        <picture class="main-picture">
            <source
              srcset="/img/hero.jpg 1x, /img/hero-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="/img/hero-tablet.jpg 1x, /img/hero-tablet-2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="/img/hero-mob.jpg 1x, /img/hero-mob-2x.jpg 2x"
              media="(min-width:375px)"
            />
            <img
              src="./img/hero.jpg"
              width="1500"
              height="500"
              alt="Hero Watches" />
          </picture>
    </div>
</section>
