<section class="hero">
  <div class="container">
    <div class="hero_top">
      <div class="hero-text">
        <h1>
          Welcome to our <span class="hero-span">collection</span> of premium
          watches
        </h1>
        <p>
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-icons">
        <div class="hero-icons-img">
          <img src="./img/icon1-2.png" alt="" class="hero-icons-img-human" />
          <img src="./img/icon2-2.png" alt="" class="hero-icons-img-human-2" />
          <img src="./img/icon3-2.png" alt="" class="hero-icons-img-human-3" />
        </div>
        <a href="#footer" class="scroll-down">Scroll down</a>
      </div>
    </div>

    <div class="hero-container-img">
      <picture>
        <source
          srcset="./img/hero-desc-1.jpg 1x, ./img/hero-desc-1.jpg 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./img/hero-img-tab-1.jpg 1x, ./img/hero-img-tab-1.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./img/hero-img-1.jpg 1x, ./img/hero-img-2.jpg 2x"
          media="(max-width:767px)"
        />
        <img src="./img/hero-desc-2.jpg" alt="bankin" />
      </picture>
    </div>
  </div>
</section>
