
  <head>
    <link rel="stylesheet" href="./css/reviews.css" />
  </head>
  <body>
    <section class="reviews-section container">
      <h2 class="reviews-section-title">Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <div class="reviews-wrap">
            <img
              width="56"
              height="56"
              class="reviewer-photo"
              src="./img/john-wax.png"
              alt="John Wax"
              srcset="./img/john-wax.png 1x, ./img/john-wax-2x.png 2x"
            />
            <h3 class="reviewer-name">John Wax</h3>
            <p class="reviewer-text">
              Buying a watch from was the best choice for me. The design is
              perfectly combined with high quality materials. The strap fits
              nicely on the hand, and the mechanism works flawlessly.
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-wrap">
            <img
              width="56"
              height="56"
              class="reviewer-photo"
              src="./img/victoria-romashenko.png"
              alt="Victoria Romashenko"
              srcset="
                ./img/victoria-romashenko.png    1x,
                ./img/victoria-romashenko-2x.png 2x
              "
            />
            <h3 class="reviewer-name">Victoria Romashenko</h3>
            <p class="reviewer-text">
              Can't take my eyes off my watch from. Every time I put it on, it
              is admired by those around me. The build quality and attention to
              detail make it a real gem among my accessories.
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-wrap">
            <img
              width="56"
              height="56"
              class="reviewer-photo"
              src="./img/anastasia-trachuk.png"
              alt="Anastasia Trachuk"
              srcset="
                ./img/anastasia-trachuk.png    1x,
                ./img/anastasia-trachuk-2x.png 2x
              "
            />
            <h3 class="reviewer-name">Anastasia Trachuk</h3>
            <p class="reviewer-text">
              My watch from is a real masterpiece. Every detail impresses with
              the high quality of execution. Special features like [specify
              features] make it an indispensable companion in my daily life.
            </p>
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
