<!--#region sale-->
<section class="sale" id="sale">
  <div class="sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrap">
      <div class="watches-list">
        <ul class="sale-list">
          <li class="sale-item">
            <div class="img-wrap">
              <picture>
                <!-- Desktop and Tablet screen-->
                <source
                  media="(min-width: 768px)"
                  srcset="
        
                    ./img/sale/desk-img1.png 1x,
                    ./img/sale/desk-img12x.png 2x
                  "
                  type="image/png"
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale/mob-img1.png 1x,
                    ./img/sale/mob-img12x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="./img/sale/desk-img1.png"
                  alt="Watch1"
                  width="96"
                  height="100"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="sale-item">
            <div class="img-wrap">
              <picture>
                <!-- Desktop and Tablet screen-->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale/desk-img2.png 1x,
                    ./img/sale/desk-img22x.png 2x
                  "
                  type="image/png"
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale/mob-img2.png 1x,
                    ./img/sale/mob-img22x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="./img/sale/desk-img2.png"
                  alt="Watch2"
                  width="96"
                  height="100"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="sale-item">
            <div class="img-wrap">
              <picture>
                <!-- Desktop and Tablet screen-->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale/desk-img3.png 1x,
                    ./img/sale/desk-img32x.png 2x
                  "
                  type="image/png"
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale/mob-img3.png 1x,
                    ./img/sale/mob-img32x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="./img/sale/desk-img3.png"
                  alt="Watch3"
                  width="96"
                  height="100"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="sale-item">
            <div class="img-wrap">
              <picture>
                <!-- Desktop and Tablet screen-->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale/desk-img4.png 1x,
                    ./img/sale/desk-img42x.png 2x
                  "
                  type="image/png"
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale/mob-img4.png 1x,
                    ./img/sale/mob-img42x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="./img/sale/desk-img4.png"
                  alt="Watch4"
                  width="96"
                  height="100"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
        </ul>

        <div class="main-watch">
          <picture>
            <!-- Desktop and Tablet screen-->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/desk-mainwatch.png 1x,
                ./img/sale/desk-mainwatch2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/sale/mob-mainwatch.png 1x,
                ./img/sale/mob-mainwatch2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/sale/desk-mainwatch.png"
              alt="Watch5"
              width="328"
              height="398"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="sale-description">
        <h2 class="descr-title">
          MARQ&<span>&#174;</span> Commander (Gen 2) - Carbon Edition
        </h2>
        <p class="descr-title-text">Product tag: 706587</p>
        <div class="price">
          <p class="current-price">€1500</p>
          <p class="incorrect-price">€3000</p>
        </div>
        <p class="descr-subtext">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="descr-list">
          <li class="descr-item">Fused carbon fiber</li>
          <li class="descr-item">Grade-5 Titanuim</li>
          <li class="descr-item">Athlete</li>
          <li class="descr-item">Golfer</li>
          <li class="descr-item">Commander</li>
          <li class="descr-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--#endregion sale-->
