.section {
    margin-bottom: 60px;
}
.container-contact-us {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.title-contact-us {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}
.contact-us-box {
    border-radius: 30px;
    padding: 48px 28px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}
.text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 28px;
    text-align: start;
}
.input-box {
}
.input-frame {
    font-family: 'Gilroy', sans-serif;
    border: 1px solid rgba(12, 12, 12, 0.15);
    background-color: transparent;
    border-radius: 12px;
    padding: 12px 14px;
    width: 100%;
    height: 42px;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    outline: none;
}
.input-frame::placeholder{
    color: #0c0c0c;
}
.input-textarea {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    background-color: transparent;
    padding: 12px 14px;
    width: 100%;
    height: 84px;
    margin-bottom: 28px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #0c0c0c;
    outline: none;
}
.input-textarea::placeholder{
    color: #0c0c0c;
}
.contact-us-btn {
    border-radius: 16px;
    padding: 12px 50px;
    width: 134px;
    height: 42px;
    background: #3350e9;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    border: none;
}
.contact-us-photo {
}

@media screen and (min-width: 768px){
.section{
    margin-bottom: 80px;
}
.container-contact-us{
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
}
.title-contact-us{
    font-size: 48px;
    margin-bottom: 40px;
}
.contact-us-box{
    padding: 50px 122px;
}
.text{
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
}
.input-frame{
    padding: 16px;
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
}
.input-textarea{
    padding: 16px;
    height: 90px;
    font-size: 16px;
    line-height: 1.25;
}
.contact-us-btn{
    padding: 17px 63px;
    width: 160px;
    height: 52px;
}
.contact-us-photo{
    width: 100%;
}
}
@media screen and (min-width: 1280px){
.section{
    margin-bottom: 100px;
}
.container-contact-us{
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
}
.container-form{
    display: flex;
}
.contact-us-box{
    padding: 50px 60px;
    border-radius: 50px;
    max-width: 580px;
    margin-right: 40px;
    margin-bottom: 0;
}
.input-frame,
.input-textarea{
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-frame,
.input-textarea:focus{
    border: 1px solid #3350e9;
}
.contact-us-btn{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-us-btn:hover,
.contact-us-btn:focus{
    background-color: #1f3cd4;
}
}