.hero-container-img img{
    display: block;
    width: 100%;
    min-height: auto;
    padding: 0;
}

body, p{
    margin: 0;
}

.hero p{
font-family: 'Gilroy', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.7);
}

.hero h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 20px;
}


.hero-span{
    color: #3350E9;
}

.scroll-down{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.hero-icons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.hero-icons-img{
    height: 44px;
    position: relative;
}

.hero-icons-img-human, .hero-icons-img-human-2, .hero-icons-img-human-3{
    width: 44px;
    height: 44px;
}

.hero-icons-img-human-2{
    position: absolute;
    left: 32px;
    top: 0;
}

.hero-icons-img-human-3{
    position: absolute;
    left: 64px;
    top: 0;
}

.hero_top{
    margin-bottom: 28px;
    padding-top: 60px;
}

@media screen and (min-width: 768px) {
    .hero_top{
        display: flex;
        justify-content: space-between;
    }

    .hero-text{
        width: 557px;
    }

    .hero-icons{
        flex-direction: column;
        width: 136px;
    }

    .hero-icons-img{
        width: 100%;
        height: 56px;
    }

    .hero-icons-img-human, .hero-icons-img-human-2, .hero-icons-img-human-3{
        width: 56px;
        height: 56px;
    }

    .hero-icons-img-human-2{
        left: 41px;
        top: 0;
    }
    
    .hero-icons-img-human-3{
        left: 80px;
        top: 0;
    }

    .hero h1 {
        font-weight: 600;
        font-size: 70px;
        line-height: 0.85714;
        letter-spacing: -0.02em;
        color: #0c0c0c;
    }

    .hero_top{
        margin-bottom: 40px;
        padding-top: 80px;
    }

    .scroll-down{
        font-weight: 500;
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #0c0c0c;
    }
}


@media screen and (min-width: 1280px) {
    .hero-text{
        width: 597px;
    }
    .hero-icons{
        flex-direction: column;
        width: 146px;
    }

    .hero-icons-img{
        height: 60px;
    }

    .hero-icons-img-human, .hero-icons-img-human-2, .hero-icons-img-human-3{
        width: 60px;
        height: 60px;
    }

    p{
        font-weight: 500;
    font-size: 16px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    }

    .hero h1 {
        font-weight: 600;
        font-size: 72px;
        line-height: 0.875;
        letter-spacing: -0.02em;
        color: #0c0c0c;
    }

    .hero_top{
        margin-bottom: 40px;
        padding-top: 80px;
    }

    .scroll-down{
        font-weight: 500;
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #0c0c0c;
    }


}