.reviews-section {
  background-color: #fbfbfb;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 100px;
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 100%;
}
.reviews-section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.reviews-list-item {
  list-style-type: none;
}
.reviews-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 32px 36px;
  max-width: 344px;
  /* height: 272px; */
  background-color: #f3f3f3;
}
.reviewer-photo {
  margin-bottom: 24px;
}
.reviewer-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.reviewer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

.reviews-list .reviews-list-item:nth-child(2),
.reviews-list .reviews-list-item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
  }
  .reviews-section {
    background-color: #fbfbfb;
    padding: 0 20px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 60px;
    width: 100%;
  }
  /* .reviews-section.container {
    padding: 0 20px;
  } */

  .reviews-section-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
  }

  .reviews-wrap {
    max-width: 335px;
    /* height: 262px; */
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 768px;
  }
  .reviews-section {
    background-color: #fbfbfb;
    padding: 0 32px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 80px;
    width: 100%;
  }
  /* .reviews-section.container {
    padding: 0 32px;
    margin: 0 auto;
  }
  */
  /* Hide all list items starting from the third one */

  .reviews-list-item {
    width: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section {
    background-color: #fbfbfb;
    padding: 0 65px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 100px;
    width: 100%;
  }
  /* .reviews-section.container {
    margin: 0 auto;
  }
  */
  .reviews-list-item {
    width: calc((100% - 2 * 16px) / 3);
  }

  .reviews-list .reviews-list-item:nth-child(3) {
    display: block;
  }
}
